#page-orphanages {
    width: 100%;
    height: 100%;

    display: flex;
}

aside {
    width: clamp(24rem, 25vw, 44rem);
    background: linear-gradient(329.54deg, #15B6D6 0%, #15D6D6 100%);
    padding: clamp(3rem, 4vw, 8rem);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside h2 {
    margin-top: 8rem;
    font: 800 clamp(2rem, 5vw, 4rem)/1.05 'Nunito', sans-serif; 
}

aside p {
    margin-top: 2.4rem;
    font: 600  1.8rem/1.56 'Nunito', sans-serif;
}

aside footer p {
    margin-top: 0.8rem;
}

#mapid {
    height: 100%;
    width: 100%;

    z-index: 1;
    
    animation-delay: 0.4s;
}

a.create-orphanage {
    position: absolute;
    right: 4rem;
    bottom: 4rem;

    z-index: 2;

    width: 6.4rem;
    height: 6.4rem;
    background: #15C3D6;
    border: 0;
    border-radius: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color .2s;
}

a.create-orphanage:hover {
    background: #17D6EB;
}

#mapid .leaflet-popup-content-wrapper {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 2rem;
}

#mapid .leaflet-popup-content {
    color: #0089A5;
    font: 700 2rem/1 'Nunito', sans-serif;
    margin: .8rem 1.2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#mapid .leaflet-popup-content a {
    width: 4rem;
    height: 4rem;
    background: #15C3D6;
    box-shadow: 17.2868px 27.6589px 41.4884px rgba(23, 142, 166, 0.16);
    border-radius: 1.2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color .2s;
}

#mapid .leaflet-popup-content a:hover {
    background: #17D6EB;
}

#mapid .leaflet-popup-tip {
    display: none;
}

